.controller-container {
    position: absolute;
    width: 200px;
    right: 20px;
    top: 10vh;
    padding: 15px 5px;

    border: 1px solid black;
    border-radius: 5px;
    background: rgba(100, 0, 0, 0.7);
    color: white;

    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
}
.section-container {
    grid-column: span 2;
    background: rgba(100, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px;
}
.section-title {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.section-controller-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    transition: max-height 0.5s, opacity 0.5s;
}
.control-label {
    text-align: center;
}
.control-value {
    max-width: 90px;
}
