.controller-container {
    position: absolute;
    width: 250px;
    right: 20px;
    top: 10vh;
    border-radius: 5px;
    background: rgba(208, 0, 0, 0.8);
    background: rgba(3, 25, 39, 0.8);
    box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086)
    ;
    font-family: 'Fira Mono', monospace;
    font-size: 12px;
    color: white;
}
.controller-container > *:last-child {
    padding-bottom: 10px;
}
.section-container {
    grid-column: span 2;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
}
.section-title {
    display: block;
    width: 100%;
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: margin-bottom 0.5s;
}
.section-title-arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-top: 7px;
    margin-right: 5px;
    transform: rotate(-135deg);
    transition: transform 0.5s;
    float: right;
}
.section-controller-container {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    transition: max-height 0.3s, opacity 0.5s;
}
.control-label {
    margin: auto;
    text-align: center;
}
.control-value {
    max-width: 85%;
}
.control-button {
    grid-column: span 2;
    width: 80%;
    margin: 0 auto;
}
